* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    color: #000000;
    background-image: url(akka.webp);
    background-size: cover;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: white;
  }
  
  .brand {
    font-weight: bold;
    font-size: 1.4em;
  }
  
  nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
  }
  
  .auth-buttons a {
    margin-left: 10px;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 5px;
    font-size: 0.9em;
  }
  
  .login {
    color: rgba(0, 0, 0, 0.4);
  }
  
  .btn-primary {
    background-color: #666666;
    color: white;
    border: none;
  }
  
  .btn-outline {
    border: 1px solid rgb(255, 255, 255);
    color: #ffffff;
    background-color: transparent;
  }
  
  .hero {
    display: flex;
    padding: 60px;
    align-items: center;
    justify-content: space-between;
  }
  
  .text-content {
    max-width: 50%;
  }
  
  .small-text {
    color: #ffffff;
    font-size: 0.9em;
    margin-bottom: 10px;
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 30px;
  }
  
  .buttons a {
    margin-right: 15px;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
  }